$backgrount-color: #eee;
$text-color: #444;

body {
  background-color: $backgrount-color;
  color: $text-color;
}

@import './Reset.scss';
@import './App.scss';
@import './SearchForm.scss';
@import './GeocodeResult.scss';
@import './Map.scss';
